# ignore compiled result
gem5.opt
gem5.build
build/*
build_opts/*

parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
m5out
src/doxygen
ext/dramsim2/DRAMSim2

# ignore benchmark files
cpu2006/*

